<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Sku refactoring for cost optimization</title>
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>

  <div class="box" id="heading">
    <h1>Sku Refactoring App</h1>
  </div>