<%- include("header") -%>

  <div class="box" id="heading">
    <h1>Sku Refactoring App</h1>
  </div>
  <div class="box">
    <h2>Mode 1: General listing </h2>
    <button><a href="/mode1">Try</a></button>
  </div>
  <div class="box">
    <h2>Mode 2: By Authenticating </h2>
    <button><a href="/mode2">Try</a></button>
  </div>

<%- include("footer") -%>
