<%- include("header") -%>

<div class="box" id="heading">
    <% decisions.forEach(element => { %>
          <div class="item">
            <p>element</p>
          </div>
        <% }); %>
</div>
  
<%- include("footer") -%>
