html {
  min-height: 1000px;
  font-family: 'helvetica neue';
}

/* Header/Logo Title */
.header {
  padding: 1px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}
.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #F1F1F1;
}

.item:last-child {
  border-bottom: 0;
}
#result {
  max-width: 1100px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Adjust the margin as needed */
}
button {
  width: 100px;
  background: #1abc9c;
  border: 0px;
  border-radius: 7px;
  color: #FFFFFF;
  font-family: Arial;
  font-size: 33px 10px;
  font-weight: 50;
  padding: 14px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}
button a {
  text-decoration: none;
  color: inherit;
}
.form-group {
  display: flex;
  align-items: center;
  margin-top: 18px;
}

.form-group label {
  margin-right: 20px;
}
.form-group input {
  margin-top: 13px;
}
button:hover {
  background: #079276;
  text-decoration: none;
}

footer {
  color: white;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}
form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: auto;
}

label {
  margin-top: 10px;
}

input[type="text"] {
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
}

select {
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
}
.radio-group {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.radio-group label {
  margin-right: 10px;
}

.radio-group input[type="radio"] {
  margin-right: 5px;
}
#loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1.2em;
  color: #333;
  left: 50px;
}

.spinner {
  border: 0.25em solid rgba(0, 0, 0, 0.2);
  border-top-color: #333;
  border-radius: 50%;
  width: 2em;
  height: 2em;
  animation: spin 1s linear infinite;
  margin-bottom: 1em;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}

ul {
  list-style-type: none; /* Change the bullet points to squares */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

li {
  font-size: 18px; /* Increase the font size of the text */
  font-weight: bold; /* Make the text bold */
  color: #333; /* Change the color of the text */
  margin-bottom: 10px; /* Add space between the list items */
  background-color: #f2f2f2; /* Add a background color to the list items */
  padding: 10px; /* Add space between the text and the edge of the list item */
}
#currentVM td {
  text-align: center;
}
#myTable td {
  text-align: center;
}

#savingsPlanTable td {
  text-align: center;
}

.resultbox {
  visibility: hidden;
}
